@page "/view_2"

<div class="row-layout view-2-container">
    <IgbRadioGroup Alignment="RadioGroupAlignment.Horizontal" class="radio-group" view_2-scope>
        <IgbRadio class="radio" view_2-scope>
            Label
        </IgbRadio>
        <IgbRadio class="radio" view_2-scope>
            Label
        </IgbRadio>
        <IgbRadio class="radio" view_2-scope>
            Label
        </IgbRadio>
    </IgbRadioGroup>
</div>

@code {
}
